                    html,
                    body {
                        margin: 0;
                        height: 100%;
                        width: 100%;
                    }
                    
                    body {
                        font-family: 'Open Sans', Helvetica, sans-serif;
                        color: #fff;
                        font-size: 16px;
                        line-height: 1.42;
                        background: #001821;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                    }
                    
                    a {
                        color: inherit;
                    }
                    
                    h1,
                    h2,
                    h3,
                    h4 {
                        margin: 0;
                        font-weight: none;
                    }
                    
                    * {
                        box-sizing: border-box;
                    }
                    
                    ul {
                        padding: 0;
                        margin: 0;
                    }
                    
                    ul li {
                        list-style: none;
                    }
                    
                    .main-page {
                        background: url(./img/background/1.png) center top no-repeat, url(./img/background/2.png) center bottom 190px no-repeat, url(./img/background/3.png) center center no-repeat;
                    }
                    
                    .container {
                        position: relative;
                        margin: 0 auto;
                        width: 1141px;
                    }
                    
                    .header {
                        height: 75px;
                    }
                    
                    .main-page__header {
                        margin-bottom: 117px;
                    }
                    
                    .logo {
                        display: block;
                        position: absolute;
                        top: 27px;
                        left: 0px
                    }
                    
                    .menu {
                        position: absolute;
                        top: 37px;
                        left: 163px;
                    }
                    
                    .menu__item {
                        display: inline-block;
                        vertical-align: middle;
                        margin-right: 51px;
                    }
                    
                    .menu__item:last-child {
                        margin-right: 0px;
                    }
                    
                    .menu__item--active .menu__link {
                        color: #F5170E;
                    }
                    
                    .menu__link {
                        font-size: 14px;
                        text-decoration: none;
                    }
                    
                    .menu__link:hover {
                        color: red;
                    }
                    
                    .contacts {
                        position: absolute;
                        top: 25px;
                        right: 0;
                        font-style: normal;
                        text-align: right;
                    }
                    
                    .contacts__phone {
                        text-decoration: none;
                        font-size: 26px;
                        margin-bottom: 0;
                    }
                    
                    .contacts__timeline {
                        font-size: 13px;
                        text-decoration: underline;
                        line-height: 1;
                        padding-right: 2px;
                    }
                    
                    .contacts__text {
                        color: #9A9A9A;
                        font-size: 11px;
                    }
                    
                    .main-page__hello {
                        margin-bottom: 210px
                    }
                    
                    .hello__title {
                        font-size: 72px;
                        width: 520px;
                        margin-bottom: 24px;
                    }
                    
                    .hello__text {
                        font-size: 18px;
                        margin-bottom: 28px;
                    }
                    
                    .btn {
                        background: #F5170E;
                        border-radius: 35px;
                        padding: 18px 40px;
                        font-weight: bold;
                        text-transform: uppercase;
                        text-decoration: none;
                        font-size: 14px;
                        display: inline-block;
                        color: #fff;
                    }
                    
                    .main-page__offers {
                        margin-bottom: 162px;
                    }
                    
                    .title {
                        font-size: 36px;
                        font-weight: bold;
                        margin-left: 5px;
                        margin-bottom: 50px;
                    }
                    
                    .title--fire:after {
                        content: url(./img/offer/offertitle/flame.png);
                        margin-left: 12px;
                    }
                    
                    .offers__item {
                        min-height: 449px;
                        display: inline-block;
                        background: #fff;
                        border-radius: 5px;
                        margin-right: 23px;
                        width: 362px;
                    }
                    
                    .offers__item:last-child {
                        margin-right: 0px;
                    }
                    
                    .offers__cover {
                        height: 144px;
                    }
                    
                    .offers__img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    
                    .offers__content {
                        padding: 35px 16px 26px 21px;
                        color: #000;
                    }
                    
                    .offers__name {
                        font-size: 24px;
                        font-weight: bold;
                        margin-bottom: 21px;
                    }
                    
                    .offers__features {
                        margin-left: 7px;
                        margin-bottom: 21px;
                    }
                    
                    .offers__feature {
                        display: inline-block;
                        margin-right: 24px;
                        color: #666666;
                        width: 126px;
                    }
                    
                    .offers__feature:last-child {
                        margin-right: 0;
                    }
                    
                    .offers__feature-text {
                        display: inline;
                        vertical-align: top;
                        margin-left: 6px;
                    }
                    
                    .offers__text {
                        font-size: 14px;
                        margin-left: 2px;
                        margin-bottom: 25px
                    }
                    
                    .offers__btn-wrap {
                        margin-left: 4px;
                    }
                    
                    .offers__btn {
                        background: #fff;
                        border-radius: 40px;
                        padding: 18px 29px;
                        border: 2px solid #f5170e;
                        font-weight: bold;
                        text-transform: uppercase;
                        text-decoration: none;
                        font-size: 14px;
                        display: inline-block;
                        color: #F5170E;
                    }
                    
                    .offers__btn--color--dark {
                        background: #F5170E;
                        border-radius: 40px;
                        padding: 18px 29px;
                        border: 2px solid #f5170e;
                        font-weight: bold;
                        text-transform: uppercase;
                        text-decoration: none;
                        font-size: 14px;
                        display: inline-block;
                        color: #fff;
                    }
                    
                    .main-page__news {
                        margin-bottom: 148px;
                    }
                    
                    .news__title {
                        font-size: 36px;
                        font-weight: bold;
                        margin-bottom: 50px;
                    }
                    
                    .news__list {
                        margin-bottom: 51px
                    }
                    
                    .news__item {
                        width: 557px;
                        display: inline-block;
                        vertical-align: top;
                        position: relative;
                        border-radius: 5px;
                        overflow: hidden;
                        margin-right: 20px;
                        ;
                    }
                    
                    .news__item:last-child {
                        margin-right: 0;
                    }
                    
                    .news__img {
                        display: block;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    
                    .news__content {
                        position: absolute;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        padding: 20px 30px;
                        min-height: 165px;
                    }
                    
                    .news__date {
                        display: inline-block;
                        font-size: 14px;
                        margin-bottom: 15px;
                    }
                    
                    .news__discription {
                        font-size: 24px;
                        font-weight: bold;
                        margin-bottom: 4px;
                    }
                    
                    .paginator {
                        text-align: center;
                    }
                    
                    .paginator__display,
                    .paginator__list {
                        display: inline-block;
                        vertical-align: middle;
                    }
                    
                    .paginator__display {
                        margin-right: 25px;
                    }
                    
                    .paginator__item {
                        display: inline-block;
                        vertical-align: middle;
                    }
                    
                    .paginator__item--active .paginator__number {
                        background: #fff;
                        color: #F5170E;
                    }
                    
                    .paginator__number {
                        display: block;
                        text-decoration: none;
                        width: 32px;
                        height: 32px;
                        border-radius: 50%;
                        font-weight: bold;
                        line-height: 32px;
                    }
                    
                    .main-page__about {
                        margin-bottom: 55px;
                    }
                    
                    .about__items {
                        display: inline-block;
                    }
                    
                    .about__background {
                        width: 490px;
                        display: inline-block;
                        border-radius: 5px;
                        overflow: hidden;
                        position: absolute;
                    }
                    
                    .about__background-img {
                        display: block;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    
                    .about__content {
                        background: url(./img/about/mountains.png) center center no-repeat;
                        display: inline-block;
                        border-radius: 5px;
                        vertical-align: top;
                        width: 785px;
                        padding: 70px 203px 66px 81px;
                        position: relative;
                        margin-top: 95px;
                        margin-left: 353px;
                    }
                    
                    .about__content-title {
                        font-size: 36px;
                        color: #000;
                        font-weight: bold;
                        margin-bottom: 40px;
                    }
                    
                    .about__content-text {
                        text-align: left;
                        margin-bottom: 60px;
                        color: #060606
                    }
                    
                    .footer-section__element {
                        border-top: 1px solid rgba(255, 255, 255, .1);
                    }
                    
                    .footer {
                        margin-top: 20px;
                        height: 148px;
                        position: relative;
                    }
                    
                    .social-links {
                        position: absolute;
                        top: 30px;
                        right: 253px;
                    }
                    
                    .social-links__item {
                        display: inline-block;
                        vertical-align: middle;
                        margin-right: 10px;
                    }
                    
                    .social-links__item:last-child {
                        margin-right: 0;
                    }
                    
                    .social-links__logo {
                        display: block;
                        width: 36px;
                        height: 36px;
                        text-decoration: none;
                        background: center center no-repeat;
                    }
                    
                    .social-links__item--icon--tm .social-links__logo {
                        background-image: url(./img/socials/telegram.png);
                    }
                    
                    .social-links__item--icon--tm .social-links__logo:hover {
                        background-image: url(./img/socials/hover/t.png);
                    }
                    
                    .social-links__item--icon--vk .social-links__logo {
                        background-image: url(./img/socials/vk.png);
                    }
                    
                    .social-links__item--icon--vk .social-links__logo:hover {
                        background-image: url(./img/socials/hover/vk.png);
                    }
                    
                    .social-links__item--icon--fb .social-links__logo {
                        background-image: url(./img/socials/f.png);
                    }
                    
                    .social-links__item--icon--fb .social-links__logo:hover {
                        background-image: url(./img/socials/hover/f2.png);
                    }
                    
                    .social-links__item--icon--inst .social-links__logo {
                        background-image: url(./img/socials/in.png);
                    }
                    
                    .social-links__item--icon--inst .social-links__logo:hover {
                        background-image: url(./img/socials/hover/in.png);
                    }