.controls {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 4px;
}

.controls__elem {
    cursor: pointer;
}

.controls__checkbox:checked+.controls__tag,
.controls__checkbox:focus+.controls__tag {
    background: #B9EAE4;
}

.controls__checkbox {
    appearance: none;
}