.footer-section {
    margin-top: auto;
}

.footer-section__element {
    border-top: 1px solid rgba(255, 255, 255, .1);
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-container__section {
    height: 148px;
}

.inner-footer {
    margin-top: auto;
}

.inner-footer__container {
    padding: 50px 0 37px;
}

.footer__col {
    display: flex;
    align-items: center;
}

.footer__col--align--right {
    justify-content: flex-end;
}