.offer {
    display: flex;
    flex-direction: column;
    min-height: 449px;
    background: #fff;
    border-radius: 5px;
}

.offer__cover {
    height: 144px;
}

.offer__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.offer__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 35px 16px 26px 21px;
    color: #000;
}

.offer__name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 21px;
}

.offer__features {
    display: flex;
    margin-left: 7px;
    margin-bottom: 21px;
}

.offer__feature {
    display: flex;
    align-items: center;
    margin-right: 35px;
    color: #666666;
}

.offer__feature:last-child {
    margin-right: 0;
}

.offer__feature-text {
    margin-left: 9px;
}

.offer__text {
    font-size: 14px;
    margin-left: 2px;
    margin-bottom: 5px
}

.offer__text p {
    margin-bottom: 10px;
}

.offer__text p:last-child {
    margin-bottom: 0;
}

.offer__btn-wrap {
    margin-left: 4px;
    margin-top: auto;
}

.offer__btn {
    background: #fff;
    border-radius: 40px;
    padding: 18px 29px;
    border: 2px solid #f5170e;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    display: inline-block;
    color: #F5170E;
    transition: background-color .4s, color .4s;
    -webkit-transition: background-color .4s, color .4s;
    -moz-transition: background-color .4s, color .4s;
    -ms-transition: background-color .4s, color .4s;
    -o-transition: background-color .4s, color .4s;
}

.offer__btn:hover {
    color: #fff;
    background: #F5170E;
}

.offer__btn--color--dark {
    background: #F5170E;
    border-radius: 40px;
    padding: 18px 29px;
    border: 2px solid #f5170e;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    display: inline-block;
    color: #fff;
    transition: background-color .4s, color .4s;
    -webkit-transition: background-color .4s, color .4s;
    -moz-transition: background-color .4s, color .4s;
    -ms-transition: background-color .4s, color .4s;
    -o-transition: background-color .4s, color .4s;
}

.offer__btn--color--dark:hover {
    background: #DA0100;
    color: #fff;
}