.partners {
    display: flex;
    flex-wrap: wrap;
}

.partners__item {
    margin-left: 47px;
}

.partners__item:nth-child(4n+1) {
    margin-left: 0%;
}

.partners__link {
    display: flex;
    text-decoration: none;
    width: 250px;
    height: 120px;
    align-items: center;
    filter: grayscale(100%);
    transition: filter .4s;
    -webkit-transition: filter .4s;
    -moz-transition: filter .4s;
    -ms-transition: filter .4s;
    -o-transition: filter .4s;
}

.partners__link:hover {
    filter: grayscale(0);
}